<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/app}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Persons</title>
</head>

<body>
	<main layout:fragment="content" id="content" class="p-6 w-full" data-location="persons">

		<!-- Persons Table -->
		<div id="personsTable" th:fragment="personsTable" class="w-full">
			<header class="flex flex-row justify-between">
				<!-- Search Form -->
				<form hx-get="/persons" hx-replace="outerHtml" hx-target="#personsTable"
					class="flex items-center space-x-2 mb-4">
					<div class="relative flex items-center">
						<i
							class="fa-solid fa-magnifying-glass absolute left-2 top-1/2 -translate-y-1/2 text-gray-500"></i>
						<input type="text" name="keyword" placeholder="Search Persons..."
							class="pl-8 pr-2 py-2 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-celeste-dark h-10 w-64"
							th:value="${keyword}" />
					</div>
					<select name="personType" class="py-2 pl-2 pr-4 border border-gray-300 h-10">
						<option value="" th:selected="${#strings.equals(personType, '')}" selected>Select a
							Type</option>
						<option th:each="type : ${T(ntt.beca.films.person.PersonType).values()}"
							th:value="${type}" th:text="${type}"
							th:selected="${#strings.equals(personType, type)}"></option>
					</select>

					<button type="submit"
						class="px-4 py-2 bg-blue-900 hover:bg-blue-600 text-white rounded-r-lg h-10">
						Search</button>
				</form>


				<!-- Add Person Button -->
				<div class="flex items-center space-x-2">
					<a hx-get="/persons/add" hx-target=".modalDiv" hx-swap="innerHtml"
						class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none text-green-500">
						<i class="fa-solid fa-plus"></i> <span class="text-xs font-bold">Add
							Person</span>
					</a>
				</div>

				<!-- Pagination Controls -->
				<a th:if="${persons.hasPrevious}"
					th:hx-get="'/persons?page=' + ${persons.pageNumber - 1} + '&keyword=' + ${keyword} + '&genre=' + ${genre}"
					hx-target="#personsTable"
					class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none">
					<i class="fa-solid fa-arrow-left"></i>
				</a> <a th:if="${persons.hasNext}"
					th:hx-get="'/persons?page=' + ${persons.pageNumber + 1} + '&keyword=' + ${keyword} + '&genre=' + ${genre}"
					hx-target="#personsTable"
					class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none">
					<i class="fa-solid fa-arrow-right"></i>
				</a>
			</header>

			<table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
				<thead class="bg-zinc-100 text-blue-900 font-bold">
					<tr>
						<th class="py-3 px-4 text-left">Id</th>
						<th class="py-3 px-4 text-left">First Name</th>
						<th class="py-3 px-4 text-left">Last Name</th>
						<th class="py-3 px-4 text-left">Nationality</th>
						<th class="py-3 px-4 text-left">Type</th>
						<th class="py-3 px-4 text-left">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="person : ${persons.data}" class="border-b hover:bg-gray-100">
						<td class="py-3 px-4" th:text="${person.id}"></td>
						<td class="py-3 px-4" th:text="${person.firstName}"></td>
						<td class="py-3 px-4" th:text="${person.lastName}"></td>
						<td class="py-3 px-4" th:text="${person.nationality.label}"></td>
						<td class="py-3 px-4" th:text="${person.personType}"></td>
						<td class="py-3 px-4">
							<a th:hx-get="@{/persons/edit/{id}(id=${person.id})}"
								th:hx-target="${'.modalDiv'}" th:hx-swap="outerHtml"
								class="text-blue-500 cursor-pointer">Edit</a> | <a
								th:href="@{/persons/delete/{id}(id=${person.id})}"
								onclick="return confirmDelete(this);"
								class="text-red-500 cursor-pointer"> Delete </a>
						</td>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- Pagination Controls -->
			<div class="flex justify-between items-center mt-4">
				<div>
					Page <span th:text="${persons.pageNumber}"></span> of <span
						th:text="${persons.totalPages}"></span> (Total items: <span
						th:text="${persons.totalElements}"></span>)
				</div>
				<div class="flex items-center space-x-2">
					<a th:if="${persons.hasPrevious}"
						th:hx-get="'/persons?page=' + ${persons.pageNumber - 1} + '&keyword=' + ${keyword} + '&genre=' + ${genre}"
						hx-target="#personsTable"
						class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none">
						<i class="fa-solid fa-arrow-left"></i>
					</a> <a th:if="${persons.hasNext}"
						th:hx-get="'/persons?page=' + ${persons.pageNumber + 1} + '&keyword=' + ${keyword} + '&genre=' + ${genre}"
						hx-target="#personsTable"
						class="px-3 py-1 border border-gray-300 rounded hover:bg-gray-100 cursor-pointer select-none">
						<i class="fa-solid fa-arrow-right"></i>
					</a>
				</div>
				<script>
					function confirmDelete(link) {
						const isConfirmed = confirm("Are you sure you want to delete this person?");
						if (isConfirmed) {
							window.location.href = link.getAttribute("href");
						}
						return false;
					}
				</script>
			</div>
		</div>
	</main>
</body>

</html>