@let isAuthPage = router.url.includes('/login') || router.url.includes('/signup');
<div class="min-h-screen bg-transparent">
      <div class="mx-auto flex min-h-screen flex-col">
            <app-loader />

            @if (!isAuthPage) {
            <app-navbar />
            }

            <main class="flex-1" [class.pt-16]="!isAuthPage">
                  <div class="mx-auto w-full py-6">
                        <router-outlet></router-outlet>
                  </div>
            </main>


            <app-notification />
      </div>
</div>